#main-banner{
    width : 100% ;
    height : 97vh;
    position: relative;
    background: url(../img/hero4.png) no-repeat center center/cover;
}
.banner-content{
    width : 90% ;
    height : 100% ;
    gap : 15px ;
}
.banner-content h4{
    color : var(--normal-text) ;
    font-weight : 700 ;
    font-size  : 17px ;
    letter-spacing: 1px ;
}
.banner-content h1{
    color : var(--dark-text) ;
    font-weight : 700 ;
    font-size  : 40px ;
    letter-spacing: 1px ;
}
.banner-content h6{
    color : var(--light-text) ;
    font-weight : 500 ;
    font-size  : 13px ;
    letter-spacing: 1px ;
}
.green {
    color : var(--green) ;
}
.banner-content .btn{
    color : var(--green) ;
    font-weight: 700;
    font-size : 17px ;
    margin-top : 10px ;
    background: url('../img/button.png') no-repeat;
    width : 220px ;
    height : 50px ;
}
#underline{
    text-decoration: none ;
}

@media (max-width:680px) {
    #main-banner{
        height : 86vh ;
    }
}