#news-container{
    width : 100% ;
    min-height : 130px ;
    padding : 30px 0px ;
    background-color: rgb(0,0,61) ;
    position: relative;
}
#news-container::after{
    background: url('../img/banner/b14.png') no-repeat center center/cover;
    content : "" ;
    position: absolute;
    top : 0;
    left : 0;
    z-index : 500 ;
    height : 100% ;
    width : 100% ; 
}
.news-container{
    width : 90% ;
    justify-content: space-between;
    color : white ;
}
.golden{
    color : goldenrod ;
}
.news-container #email-get .email-input{
    width : 300px ;
    height :  40px ;
    padding-left : 10px ; 
    border : none ;
    outline: none;
}
.email-signup-btn{
    height :  40px ;
    width : 80px;
    font-weight: 700;
    border : none ;
    background-color: var(--green);
    color : white ;
}
.news-text{
    gap : 10px ;
    align-items: start;
}
.news-text h3{
    font-size: 22px;
}
@media (max-width : 835px){
    .news-container{
        flex-direction: column;
        gap : 30px ;
    }
    .news-text{
        align-items: center ;
        text-align: center;
    }
}
@media (max-width : 422px){
    .news-container #email-get .email-input{
        width : 200px ;
    }
    .news-container #email-get .email-signup-btn{
        width : 70px ;
    }
}
@media (max-width : 300px){
    .news-container #email-get .email-input{
        width : 170px ;
    }
}