.top-banner{
    width : 100% ;
    height : 280px ;
    position: relative;
}
.top-banner.shop::before{
    content : "" ;
    height : 100% ;
    width : 100% ;
    position: absolute;
    top : 0; 
    left  : 0;
    z-index : -100 ;
    opacity: .9;
    background: url('../img/banner/b1.webp') no-repeat center center/cover;
}
.top-banner.blog::before{
    content : "" ;
    height : 100% ;
    width : 100% ;
    position: absolute;
    top : 0; 
    left  : 0;
    z-index : -100 ;
    opacity: .8;
    background: url('../img/banner/b19.webp') no-repeat center center/cover;
}
.top-banner.about::before{
    content : "" ;
    height : 100% ;
    width : 100% ;
    position: absolute;
    top : 0; 
    left  : 0;
    z-index : -100 ;
    opacity: .9;
    background: url('../img/about/banner.webp') no-repeat center center/cover;
}
.top-banner-content{
    width : 90% ;
    gap : 10px ;
    color : white ;
    text-align : center ; 
}
.top-banner-content h2{
    font-weight: bolder ;
    font-size: 35px;
}