@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700&display=swap');
*{
  padding : 0 ;
  margin : 0 ;
  box-sizing : border-box ;
  font-family : 'Spartan' , sans-serif ;
  transition: all ease .2s;
}
*:root{
  --green  : #088178 ;
  --light-text : #5b5b5b ;
  --normal-text : #1a1a1a ;
  --dark-text : #000 ;
  --card-border : rgb(217, 216, 216) ;
}

body{
  background-color : rgb(248, 248, 248) ;
  padding-top : 70px ;
}
.flex-box{
  display : flex ;
}
.justify-center{
  justify-content: center ;
}
.align-center{ 
  align-items : center ;
}
.flex-column{
  flex-direction : column ;
}